/* line 5, ../sass/example.sass */
.button {
  color: #fff;
  background-color: #000;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
@media screen and (min-width: 320px) and (max-width: 500px) {
  /* line 5, ../sass/example.sass */
  .button {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  /* line 5, ../sass/example.sass */
  .button {
    width: 100px;
  }
}
/* line 16, ../sass/example.sass */
.button:hover {
  color: #e6e6e6;
  color: black;
  background-color: #1a1a1a;
}

/* line 21, ../sass/example.sass */
.header {
  font-size: 24px;
}
/* line 24, ../sass/example.sass */
.header .a, .header .c {
  width: 100px;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}
/* line 31, ../sass/example.sass */
.header .nav {
  display: table;
}
/* line 37, ../sass/example.sass */
.header .nav .item-1 {
  font-size: 1px;
}
/* line 37, ../sass/example.sass */
.header .nav .item-2 {
  font-size: 2px;
}
/* line 37, ../sass/example.sass */
.header .nav .item-3 {
  font-size: 3px;
}
/* line 37, ../sass/example.sass */
.header .nav .item-4 {
  font-size: 4px;
}
/* line 37, ../sass/example.sass */
.header .nav .item-5 {
  font-size: 5px;
}
/* line 37, ../sass/example.sass */
.header .nav .item-6 {
  font-size: 6px;
}
/* line 37, ../sass/example.sass */
.header .nav .item-7 {
  font-size: 7px;
}
/* line 37, ../sass/example.sass */
.header .nav .item-8 {
  font-size: 8px;
}
/* line 37, ../sass/example.sass */
.header .nav .item-9 {
  font-size: 9px;
}
/* line 37, ../sass/example.sass */
.header .nav .item-10 {
  font-size: 10px;
}
/* line 40, ../sass/example.sass */
.header .nav .apple {
  font-size: 18px;
}
/* line 40, ../sass/example.sass */
.header .nav .banana {
  font-size: 18px;
}
/* line 43, ../sass/example.sass */
.header .nav .item {
  font-size: 18px;
}
/* line 43, ../sass/example.sass */
.header .nav .item {
  font-size: 18px;
}
/* line 43, ../sass/example.sass */
.header .nav .item {
  font-size: 18px;
}
/* line 43, ../sass/example.sass */
.header .nav .item {
  font-size: 18px;
}

/* line 49, ../sass/example.sass */
.content {
  font-size: 24px;
}
/* line 51, ../sass/example.sass */
.content .b {
  width: 50px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

/* line 56, ../sass/example.sass */
.message, .success, .error {
  border: 1px solid #ccc;
  padding: 100px;
  color: #333;
  text-align: center;
}

/* line 62, ../sass/example.sass */
.success {
  border-color: green;
}

/* line 66, ../sass/example.sass */
.error {
  border-color: red;
}
